# Pandas

In [6]:
import pandas as pd

import warnings

warnings.filterwarnings('ignore')

# Series

In [7]:
# Series creation

In [8]:
lst=[1,2,3,4,5]
type(lst)

list

In [9]:
s=pd.Series(lst)
type(s)

pandas.core.series.Series

In [10]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
s=pd.Series(data=['A',10,2500])
s

0       A
1      10
2    2500
dtype: object

In [12]:
d={1:'A',2:'B',3:'C'}
type(d)

dict

In [13]:
s=pd.Series(d)
s

1    A
2    B
3    C
dtype: object

In [14]:
s=pd.Series(data=[10,20,30],index=['a','b','c'],name='My_series')
s

a    10
b    20
c    30
Name: My_series, dtype: int64

In [15]:
#Accessing elements from a series using index labels.

In [16]:
s[0]

10

In [17]:
s['c']

30

In [18]:
s[0:2]

a    10
b    20
Name: My_series, dtype: int64

In [19]:
# Data frame

In [20]:
lst=[['Python',90,'Pune'],['ML',100,'Mumbai'],['DL',95,'HYD']]

col=['Subject','Marks','City']

In [21]:
df=pd.DataFrame(data=lst,columns=col)
df

  Subject  Marks    City
0  Python     90    Pune
1      ML    100  Mumbai
2      DL     95     HYD

In [22]:
#Approach 2

In [23]:
df=pd.DataFrame({
    'Subject':['Python','ML','DL'],
    'Marks':[90,70,100],
    'City Name':['Pune','Mumbai','Hyd']
})
df

  Subject  Marks City Name
0  Python     90      Pune
1      ML     70    Mumbai
2      DL    100       Hyd

In [24]:
#check number of rows and columns in dataframe

In [25]:
df.shape

(3, 3)

In [26]:
#Dimension of the dataframe

In [27]:
df.ndim

2

In [28]:
#Data type of each column

In [29]:
df.dtypes

Subject      object
Marks         int64
City Name    object
dtype: object

In [30]:
df.Subject

0    Python
1        ML
2        DL
Name: Subject, dtype: object

In [31]:
#Approach 2

In [32]:
df[['Subject']]

  Subject
0  Python
1      ML
2      DL

In [33]:
df

  Subject  Marks City Name
0  Python     90      Pune
1      ML     70    Mumbai
2      DL    100       Hyd

In [34]:
df['City Name']

0      Pune
1    Mumbai
2       Hyd
Name: City Name, dtype: object

In [35]:
#Descriptive stats for df

df.describe()

In [36]:
df.describe(include='O')

       Subject City Name
count        3         3
unique       3         3
top     Python      Pune
freq         1         1

In [37]:
df.describe(include='all')

       Subject       Marks City Name
count        3    3.000000         3
unique       3         NaN         3
top     Python         NaN      Pune
freq         1         NaN         1
mean       NaN   86.666667       NaN
std        NaN   15.275252       NaN
min        NaN   70.000000       NaN
25%        NaN   80.000000       NaN
50%        NaN   90.000000       NaN
75%        NaN   95.000000       NaN
max        NaN  100.000000       NaN

In [38]:
#Getting information about dataframe.

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Subject    3 non-null      object
 1   Marks      3 non-null      int64
 2   City Name  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [40]:
#Checking null values

In [42]:
df.isnull().sum()

Subject      0
Marks        0
City Name    0
dtype: int64